<!DOCTYPE html>
<html>
<head>
	<title>Vue To-Do</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Vue To-Do List</h1>

	<div id="taskList" v-cloak v-on:keyup.alt.delete="clearAll">


		<input v-focus v-model="newTask" v-on:keyup.enter="addToList" id="taskInput" type="text" placeholder="Enter task here">

		<ul>
			<draggable v-model="tasks" @start="drag=true" @end="drag=false"><li v-for="(task,index) in tasks" v-bind:style="{'background-color': task.backgroundColor}" v-on:click="toggleColor(task,index)">
				<i v-on:click.stop="changeBullet(task)" v-bind:class="{'fa fa-circle-o' : !task.isChecked, 'fa fa-check-circle' : task.isChecked}" aria-hidden="true"></i>
 				{{ task.name | capitalize }}<span v-on:click.stop="removeItem(index)" id="deleteIcon">x</span>
 			</li></draggable>
		</ul>
		<button v-on:click="clearAll">Clear List</button>


	</div>

	<script src="https://unpkg.com/vue"></script>
 	<script src="bundle.js"></script>
</body>
</html>