<!DOCTYPE html>
<html>
<head>
	<title>Vue To-Do</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Vue To-Do</h1>

	<div id="taskList" v-cloak>


		<input v-model="newTask" v-on:keyup.enter="addToList" id="taskInput" type="text" placeholder="Enter task here">
		<button v-on:click="addToList">Add Task</button>

		<ul >
			<li v-for="(task,index) in tasks" v-bind:class="{'isGreen': task.turnGreen}" v-on:click="toggleColor(task)"><span v-on:click.stop="removeItem(index)" id="deleteIcon">x </span>{{index + 1}}. {{ task.name | capitalize }}</li>
		</ul>


	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="main.js"></script>
</body>
</html>