h1 {
	text-align: center;
}

#taskList {
	text-align: center;
}
li {
	margin: 0 auto;
	list-style-type: none;
	background-color: blue;
	color: white;
	padding: 10px;
	width: 60%;
}

li:hover {
	cursor: pointer;
}

[v-cloak] {
	display: none;
}